body {
  font-family: Manrope, sans-serif;
  color: #1c1d23;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.manrope {
  font-family: Manrope, sans-serif;
}

.i-copy {
  background: url('../img/icons/copy.svg') no-repeat;
}
.i-copied {
  background: url('../img/icons/copied.svg') no-repeat;
}

.i-selected {
  background: url('../img/icons/selected.svg') no-repeat;
}

.i-dropdown {
  background: url('../img/icons/dropdown.svg') no-repeat;
}

.i-back {
  background: url('../img/icons/dropdown.svg') no-repeat;
}

@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}
@function vw1($target) {
  $vw-context: (1440 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@font-face {
  font-family: Manrope;
  src: url('~/assets/fonts/Manrope.ttf');
}

.dot::after {
  content: '';
  width: 20px;
  height: 20px;
  background: #efd4bb;
  display: block;
  margin-bottom: 7px;
  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }
}

html,
body {
  scroll-behavior: smooth;
}

nav {
  margin-left: 46px;
  .hover\:before\:bg-gray-50:hover::before {
    background: none;
  }
}
nav ul {
  gap: 44px;
  display: flex;
  a {
    padding: 0;
  }
}

.social a:hover,
.social button:hover {
  filter: saturate(2.1);
}

a,
button {
  transition: 0.25s;
}

.round-effect-1 {
  animation: rotate 1.5s infinite linear;
}
.round-effect-4 {
  animation: rotate2 1.5s infinite linear;
}
.round-effect-2 {
  animation: rotate 1.5s infinite linear;
}
.round-effect-3 {
  animation: rotate2 1.5s infinite linear;
}

@keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1536px) {
}
@media (max-width: 1024px) {
  nav {
    margin-left: 20px;
  }
  nav ul {
    gap: 14px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ui-focus-visible\:ring-primary-500:focus {
  --tw-ring-color: transparent !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #cda981;
  z-index: 100;
}

.swiper-button-next {
  &::after {
    font-size: 30px;
  }
}

.swiper-button-prev {
  &::after {
    font-size: 30px;
  }
}

*:focus-visible {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

.text-common {
  color: #1c1d23;
}

.text-pale {
  color: #7a7d89;
}

.bg-tab-hover {
  color: #f0f2f5;
}

.text-14-500-20 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text-14-600-20 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.text-14-700-20 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.text-12-500-20 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text-12-600-20 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.text-16-600-24 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.text-16-700-24 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.text-18-600-28 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.text-20-500-32 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.text-20-600-32 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.text-32-700-44 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.form-checkbox:checked,
.form-radio:checked,
.form-checkbox:indeterminate {
  background-color: #ff5524;
  &:hover,
  &:focus {
    background-color: #ff5524;
  }
}
